* {
    margin: 0;
    max-height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f7ff;

    min-height: 100vh;
}

p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
    width: 70%;
}

label {
    font-size: 10px;
}

img {
    position: inherit;
    width: 100px;
    left: 37.5%;
}

button {
    font-weight: 900;
    font-size: 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 3px black;
    width: 180px;
    margin-bottom: 1%;
}

a {
    color: #007bff;
    text-decoration: none;
}

h2 {
    font-size: 18px;
}

input {
    border-color: 1px solid #939393;
    border-radius: 3px;
    height: 20px;
    outline: none;
}

input:invalid {
    border-color: red;
}

.error-msg {
    display: none;
    color: #007bff;
    font-size: 12px;
}

input:valid + .error-msg {
    display: block;
}

input:focus {
    box-shadow: 0 5px 5px rgb(0,0,0,0.3);
    border-color: #007bff;
    border-width: 1px;
}

#logo {
    background-color: rgb(157,181,200,0.5);
    position: relative;
    top: 30%;
    width: 100%;
}

#personal div,
#contact div,
#password div {
    display: flex;
    flex-direction: column;

    margin-right: 5%;
    width: 230px;
    font-weight: 600;
}

#personal,
#contact,
#password {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
}

#banner {
    width: 50%;

    background-image: url('creatives/chanclas.jpg');
    background-size: cover;
    background-position: center;

}

#info {
    width: 100%;
}

#disclaimer {
    box-shadow: inset 0 -1px 1px rgb(0,0,0,0.3);

    padding: 12% 0 1% 5%;
    
}

#forms {
    padding: 3% 0 3% 5%;
    box-shadow: 0 5px 5px rgb(0,0,0,0.3);
    background-color: #ffffff;
    color: #333333;
}

#submission {
    padding: 2% 0 0 5%;
}